#navbarMainStyling {
    background: #437FC7;
    border-bottom: 8px solid #6DAFFE;
}

#brandNameStyling {
    font-weight: bold;
    color: #fff;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.nav-item {
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-light .navbar-toggler {
    color: #fff;
    border-color: #fff;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}